*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.container{
  padding: 0 1rem;
}

.btn{
  display: inline-block;
  border: none;
  background:  #666;
  color: antiquewhite;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover{
  background:green;
}